<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="engineObj" class="com.dxc.Engine"></bean>
    <bean id="bike" class="com.dxc.Bike">
        <constructor-arg name ="engine" ref="engineObj"><!--bike.engine = new Engine-->

        </constructor-arg>
       <!-- by using constructor we will inject our value-->
        <!-- <property name ="color" value = "blue"></property>-->
         </bean>
    <bean id="car" class="com.dxc.Car">
        <constructor-arg name ="engine" ref="engineObj"><!--bike.engine = new Engine-->

        </constructor-arg>

    </bean>
     </beans>